*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    border-bottom: 1px solid rgb(185, 182, 182);
}
.logo_text{
    font-weight: 900 !important;
    font-size: 18px !important;
}
.wrapper_2{
    margin-top: 30px !important;
}
.input-group-text{
    width: 325px !important;
}
.nav_text{
    font-size: 14px !important;
}
.olx_link:hover{
    border-bottom: 1px solid rgb(7, 66, 230) !important;
}
.form-control{
    width: 330px !important;
    height: 40px;
    background-color: rgb(197, 193, 193) !important;
}